---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pacha 8 dias">
  <main>
    <button class="h-36 bg-gray-600 text-2xl text-white">
      CLICK ME!!!
    </button>
  </main>
  </Layout>
