.tripa {
  position:absolute;
  left:calc(50% - 10px);
  top:0;
  /* height:100vh; */
  height: 100%;

}
.miniTripa {
  position:absolute;
  top:0;
  left:calc(50% - 3px);
  /* height:100vh; */
  height: 100%;
  border-left-color: #6B7280;
  border-left-style:solid;
  border-left-width: 5.6px;
}
